.page-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
  align-items: center; 
}

@media (min-width: 1024px) {
  .page-content {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
