.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  background: rgba(0,0,0,0.15);
  backdrop-filter: blur(10px);

  border-top: 1px solid rgba(255,255,255,0.25);
  z-index: 100;
}

.bottom-btn {
  flex: 1;
  text-align: center;

  padding: 14px 0;

  color: white;
  text-decoration: none;
  font-size: 16px;

  border-bottom: 2px solid transparent;
  transition: 0.25s ease;
}

.bottom-btn:hover {
  border-bottom-color: rgb(255, 227, 137);
}

@media (min-width: 1024px) {
  .bottom-nav {
    display: none;
  }
}
