.dashboard-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info {
  display: flex;
  flex-direction: column; 
  gap: 2px;
}

.header-info p{
    font-size: 15px;
    color: rgb(255, 227, 137);
}

.logout-btn {
  background: none;    
  color: #fff;         
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 12px;
  transition: opacity 0.2s ease;
}

.logout-btn:hover {
  opacity: 1;
  color: rgb(255, 227, 137);   
}
