.cw-wrapper {
  width: 100%;
  max-width: 420px;
  margin: 50px auto 0 auto;
  text-align: center;
  color: white;
}

.cw-location {
  font-size: 28px;
  font-weight: 600;
}

.cw-date {
  font-size: 16px;
  opacity: 0.85;
  margin-top: 4px;
}

.cw-description {
  font-size: 18px;
  text-transform: capitalize;
  opacity: 0.9;
  margin-top: 6px;
}

.cw-temp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cw-icon {
  width: 90px;
  height: 90px;
}

.cw-temp {
  font-size: 64px;
  font-weight: 700;
  margin-top: -10px;
}

.cw-indicators {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  margin-top: 20px;
  padding: 12px 0;

  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.cw-indicator {
  flex: 1;
  text-align: center;
}

.cw-label {
  display: block;
  font-size: 14px;
  opacity: 0.8;
}

.cw-value {
  font-size: 18px;
  font-weight: 600;
  margin-top: 4px;
}

.cw-fav-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  font-size: 30px;
  line-height: 2;

  color: white;
  transition: 0.25s ease;
  padding: 4px;
}

.cw-fav-btn.active {
  color: rgb(255, 227, 137);
}

.cw-fav-btn:hover {
  transform: scale(1.15);
  color: rgb(255, 227, 137);
}

@media (min-width: 1024px) {
  .cw-wrapper {
    max-width: 100%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
  }

  .cw-location {
    font-size: 40px;
  }

  .cw-date {
    font-size: 20px;
  }

  .cw-description {
    font-size: 22px;
  }

  .cw-icon {
    width: 130px;
    height: 130px;
  }

  .cw-temp {
    font-size: 90px;
    margin-top: -10px;
  }

  .cw-indicators {
    grid-column: span 2;
    margin-top: 40px;
    padding: 20px 0;
    gap: 40px;
  }

  .cw-label {
    font-size: 16px;
  }

  .cw-value {
    font-size: 24px;
  }
}
